@media (max-width: 480px) {
	.presentation {
		height: 40rem;
		&__container {
			min-height: 40rem;
		}
		&__title {
			text-align: center;
			margin-bottom: 3.7rem;
		}
		&__buttons-box {
			margin-bottom: 2rem;
		}
		&__img-wrp {
			height: 20rem;
			margin-left: 0;
			& .img-sofa-ibg {
				width: 60%;
				height: 15rem;
				top: 2px;
				left: 59px;
			}
			& .img-dotted {
				min-height: 5rem;
				top: 1.1rem;
				right: 7.5rem;
			}
		}
	}
	// ================Craft====================
	.craft {
		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 7rem;
			.craft-left {
				&__wrp {
					max-width: 504px;
					text-align: center;
					margin-bottom: 2rem;
				}
			}
			.craft-right__wrp {
				height: 20.1rem;
			}
			.card-img {
				width: 80%;
			}
		}
	}
	// ================Choose====================
	.choose {
		height: 43rem;
		&__desc {
			margin-bottom: 2rem;
			min-width: 44rem;
		}
	}
	.choose-benefits {
		&__inner {
			max-width: 46rem;
			gap: 1rem;
		}
		&__box {
			min-height: 23rem;
		}
	}
	.choose-img {
		width: 45rem;
		&__img-rectangle {
			display: none;
		}
		&__img-dots {
			display: none;
		}
		&__img-ibg {
			height: 33rem;
			top: -305px;
			left: 0px;
			filter: grayscale(60%) opacity(0.3);
		}
	}
	// ================Interior====================
	.interior {
		margin-bottom: 5.8rem;
		&__container {
			.interior-img {
				&__box {
					top: 98px;
					right: 13px;
					max-width: 45rem;
					min-height: 2rem;
					height: 20rem;
				}
				&__big-img {
					max-width: 45rem;
					height: 28rem;
					width: 100%;
					display: block;
					grid-column: 1/4;
				}
				&__average-img {
					display: none;
				}
				&__small-img {
					display: none;
				}
			}
			& .interior-text {
				&__box {
					max-width: 45rem;
				}
				&__desc {
					font-size: 1.3rem;
					line-height: 1.35;
				}
				&__inner {
					padding-bottom: 10rem;
				}
			}
		}
	}
	// ===============Card-Item====================
	.card-item {
		&__container {
			gap: 1.5rem;
			margin-bottom: 5.5rem;
		}
		&__inner {
			max-width: 45rem;
			width: 100%;
			margin-right: 0;
			&::after {
				width: 98px;
				height: 98px;
				left: 12px;
				top: 18px;
			}
		}
		&__text {
			margin-left: 3.5rem;
			&:nth-child(2) {
				margin-left: 0;
			}
		}
		& img {
			padding-right: 0;
		}
	}
	// ===============Form====================
	.form-example {
		padding-top: 5.7rem;
		margin-bottom: 5.8rem;
		&__inner {
			max-width: 50rem;
		}
		&__input {
			max-width: 20rem;
		}
		&__input-name {
			max-width: 100%;
		}
		&__input-email {
			max-width: 100%;
		}
	}
	// ===============Testimonials================
	.swiper-slide {
		padding-bottom: 0;
	}
	// Стрелки
	.swiper-button-prev,
	.swiper-rtl .swiper-button-next {
		top: 71%; //двигаем стрелки
		display: none;
	}
	.swiper-button-next,
	.swiper-rtl .swiper-button-prev {
		top: 71%; //двигаем стрелки
		display: none;
	}
	.slider__container {
		margin-bottom: 4.1rem;
	}
	.slide {
		&__title {
			font-size: 3rem;
			margin-bottom: 1.3rem;
		}
		&__text {
			max-width: 46rem;
			min-height: 13.2rem;
			font-size: 1.4rem;
			line-height: 1.4;
			margin-bottom: 1.2rem;
		}
	}
	// ===============Recent====================
	.resent-blog {
		&__container {
			padding-bottom: 6.9rem;
		}
		&__title {
			font-size: 3rem;
			line-height: 1.21;
		}
		&__wrp {
			margin-bottom: 2.6rem;
		}
		&__subtitle {
			padding-top: 0.6rem;
			font-size: 1.6rem;
			line-height: 1.7;
		}
		&__post {
			display: flex;
			justify-content: space-between;
			gap: 0.5rem;
		}
	}
	.post-box {
		&__img {
			margin-bottom: 1.4rem;
		}
		&__title {
			text-transform: capitalize;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 1.8rem;
		}
	}
	// ===============Form====================
	.form-example {
		padding-top: 3.7rem;
		margin-bottom: 5.8rem;
		&__inner {
			max-width: 45rem;
			width: 100%;
		}
		&__input {
			max-width: 17rem;
		}
		&__input-name {
			max-width: 100%;
		}
		&__input-email {
			max-width: 100%;
		}
	}
	// ===============Footer====================
	.footer {
		min-height: 50.7rem;
		&__img {
			top: -4rem;
			left: 31.7rem;
		}
		&__text-inner {
			& .text-desc {
				max-width: 45rem;
			}
		}
		&__nav {
			& .list-about {
				margin-right: 2.5rem;
				max-width: 6rem;
				width: 100%;
			}
		}
		&__social {
			justify-content: center;
			gap: 4.1rem;
			margin-bottom: 2.3rem;
		}
		&__copyright {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: space-between;
		}
	}
	.nav {
		&__list {
			max-width: 10rem;
			&:nth-child(2) {
				margin-right: 1rem;
			}
			&:nth-child(3) {
				margin-right: 1rem;
			}
		}
	}
	.copyright {
		&__right-text {
			flex-direction: row;
			gap: 3rem;
		}
	}
}
