// Стили основного ограничивающего контейнера ==========================================================
[class*="__container"] {
  max-width: $containerWidth + $mainOffset * 2;
  margin: 0 auto;
  padding: 0 $mainOffset;
}
// Стили отзывчивых картинок (IBG) ============================================================================================================================================================================================================================================================================================================================================================================================================================================
[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
/* .wrapper {
  min-height: 100%;
  overflow: hidden;
} */