$maxWidth: 1500; // Максимальная ширина страницы

$containerWidth: 1140px; // ширина контейнера из макета
$mainOffset: 15px; // отступы безопасности для контейнера

$fontSize: 1.6rem; // Размер шрифта по умолчанию
$fontFamily: 'Inter', sans-serif; // Шрифт по умолчанию

// Цвета ============================================================================================================================================
$mainColor: #EFF2F1;
$colorPrymary: #2F2F2F;
$colorBlack: #000;
$colorWhite: #fff;
$colorGreen: #35736E;
$colorYellow: #F9BF29;
$colorText: #6A6A6A;
$colorGray: #D9D9D9;

